@page
@model KoiFishApp.WebApplication.Pages.Home.IndexModel
@{
	<h1>Welcome to the Home Page!</h1>
	<p>This is the default home page for the application.</p>
	<a href="/Login/Login" class="btn btn-primary">Login</a>
}