body {
    background-image: url("https://i.ibb.co/2khR0BX/z6037036615361-8979d32fb58915612a0aaac7ecb000eb.jpg" );
    background-size: cover; /* ??m b?o hình ?nh ph? ??y màn hình */
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

    .back-button .btn {
        font-size: 14px;
        padding: 5px 10px;
    }
